<!doctype html>
<html ng-app="directiveExample">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="example.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="prettify.css" rel="stylesheet"></link>
  </head>
  <body ng-controller="sampleController">
    <script type="text/ng-template" id="myModalContent.html">
      <div class="child">
        <p> Directive Child Scope </p>
        <p> Login Please</p>
        <input placeholder="Username"> </input>
        <br>
        <input placeholder="Password"> </input>
        <br>
        <button> Login </button>
        <button ng-click="submitLoginClose()"> Cancel </button>
      </div>
    </script>

    <p> PARENT SCOPE </p>
    <p> Try click "Cancel"</p>
    <div ng-show="loginViewVisible">
      <login-form submit-login-close="handleLoginClose()"> </login-form>
    </div>

    <button ng-click="loginViewVisible = true"> Show Login View</button>
  </body>
</html>

